<h1 class='welcome_page'>Welcome to the Train System</h1>

<h3 class='welcome_page'><a class='welcome_page' href="/cities">Employee Access</a></h3>

<h3 class='welcome_page'><a href="/user_cities">User Access</a></h3>
