<!DOCTYPE html>
<html>
<head>
  <title>CHOO CHOO</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/styles.css'>
  <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/index.js" charset="utf-8"></script>

</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1><center>Transport International</center></h1>
    </div>
    <%= yield %>
  </div>
</body>
</html>
